sklearn
Django
asgiref
contourpy
cycler
Faker
fonttools
fuzzywuzzy
gunicorn
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
scipy
six
sklearn
sqlparse
threadpoolctl
tzdata