{% extends 'csps/cspbase.html'%} {%load static%} {%block contents%}
<div id="page-wrapper">
  <div id="page" class="container">
    <div id="content">
      <div class="title">
        <h2>Cloud Services provider</h2>
        <span class="byline">Pay What you use</span>
      </div>
      <p>
        For most people, SaaS is the most familiar form of cloud computing.
        Situated at the top of the pyramid, SaaS is a fully-developed software
        solution ready for purchase and use over the internet on a subscription
        basis. The SaaS provider manages the infrastructure, operating systems,
        middleware, and data necessary to deliver the program, ensuring that the
        software is available whenever and wherever customers need it. Many SaaS
        applications run directly through web browsers, eliminating the need for
        downloads or installations. This greatly reduces software management
        issues for internal IT teams and allows companies to streamline their
        operations with hybrid and multi-cloud deployments.
      </p>
    </div>
  </div>
</div>
{%endblock%}
