{% extends 'csps/cspbase.html'%}
{%load static%}
{%block contents%}
<div id="page-wrapper">
<div id="page" class="container">
	<div id="content">
		<div class="title">
			<h2>Cloud Services provider KNN Suggestions</h2>
			<span class="byline">Pay What you use</span>
		</div>
		<p>
            <table class="table table-bordered">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Email ID</th>
        <th>Service Name</th>
        <th>Suggested</th>
        <th>Distance</th>
        <th>Suggested Date</th>

      </tr>
    </thead>
    <tbody>
    {% for i in data %}
      <tr style="color: Black">
      <td>{{forloop.counter}}</td>
      <td>{{i.username}}</td>
      <td>{{i.email}}</td>
      <td>{{i.servicename}}</td>
      <td>{{i.knnsuggestions}}</td>
      <td>{{i.distance}}</td>
      <td>{{i.cdate}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    </p>
	</div>

</div>
</div>
{%endblock%}