{% extends 'clouds/CloudBase.html'%} {%load static%} {%block contents%}
<div id="page-wrapper">
  <div id="page" class="container">
    <div id="content">
      <div class="title">
        <h2>Cloud Services</h2>
        <span class="byline">Pay What you use</span>
      </div>
      <p>
        Simply put, cloud computing is the delivery of computing
        services—including servers, storage, databases, networking, software,
        analytics, and intelligence—over the Internet (“the cloud”) to offer
        faster innovation, flexible resources, and economies of scale. You
        typically pay only for cloud services you use, helping lower your
        operating costs, run your infrastructure more efficiently and scale as
        your business needs change.
      </p>
    </div>
    <div id="sidebar">
      <a href="#" class="image image-full"
        ><img src="{%static 'images/cspservice.jpg'%}" alt=""
      /></a>
    </div>
  </div>
</div>
{%endblock%}
