{% extends 'base.html'%}
{%load static%}
{%block contents%}
<div id="page-wrapper">
<div id="page" class="container">
	<div id="content" >
        <div class="title">
			<h2>Cloud Service Provider Login Form</h2>
			<span class="byline">
                <form method="POST" action="{%url 'CSPLoginCheck'%}">
                {% csrf_token %}
                <table>

                    <tr><td>Login ID</td><td><input type="text" name="loginname"  required="True"> </td></tr>
                    <tr><td>Password</td><td><input type="password" name="pswd"  required="True"></td></tr>

                    <tr><td><button  class="btn btn-outline-success my-2 my-sm-0" type="submit" style = "margin-left:20%;">Login</button></td></tr>

                    <center>
                        {% if messages %}
                               {% for message in messages %}
                                  <font color='GREEN'> {{ message }}</font>
                               {% endfor %}
                           {% endif %}
                           </center>
                </table>

            </form>  </p>
            </span>
            <tr><td><a  href="{%url 'getCSPLoginDetails'%}" class="btn btn-outline-success my-2 my-sm-0" type="submit" style = "margin-left:20%;">Get Login Details</a></td></tr>
		</div>
        <p class="byline">
            Login ID {{loginid}}<br/>
            Password {{pswd}} <br/>
        </p>

    </div>

</div>
</div>
{%endblock%}