{% extends 'users/custbase.html'%} {%load static%} {%block contents%}
<div id="page-wrapper">
  <div id="page" class="container">
    <div id="content">
      <div class="title">
        <h2>Cloud Customer</h2>
        <span class="byline">Pay What you use</span>
      </div>
      <ul>
        <li>
          Infrastructure as a Service (IaaS)
          <ul>
            <li>Microsoft Azure</li>
            <li>Amazon Web Services (AWS)</li>
            <li>Cisco Metacloud</li>
            <li>Google Compute Engine (GCE)</li>
          </ul>
        </li>
        <li>
          Software as a Service (SaaS)
          <ul>
            <li>Microsoft Office 365</li>
            <li>Salesforce</li>
            <li>Cisco WebEx</li>
            <li>Google Apps</li>
          </ul>
        </li>
        <li>
          Platform as a Service (PaaS)
          <ul>
            <li>AWS Elastic Beanstalk</li>
            <li>Apache Stratos</li>
            <li>Google App Engine</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{%endblock%}
